/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo {
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", "sans-serif";
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", "sans-serif";
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
}

.studio-bl {
  color: #000000;
}

.studio-wh {
  color: #fff;
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v17-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v17-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v17-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v17-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v17-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v17-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v17-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v17-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v17-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v17-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.body {
  font-family: "Roboto", "sans-serif";
  letter-spacing: 0.02em;
  background-color: #fff;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__container {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero-bcg.jpg");
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/desktop/hero-bcg@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.list {
  list-style: none;
  color: #757575;
}

.section {
  padding: 94px 0px;
  /* padding-right: 10px;
    padding-left: auto; */
}

.section.container {
  padding-bottom: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.links {
  text-decoration: none;
}

/* .inst {
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}
.twit {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.fb {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.linkedin {
    background-image: url(../images/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
} */
.site-nav {
  display: flex;
  background: #fff;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin: 0;
  }
}

.site-nav__list {
  position: relative;
  margin-right: 50px;
  display: block;
  list-style: none;
  color: #757575;
}

.site-nav__list:last-child {
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    margin: 0;
  }
  .site-nav__list:not(:last-child) {
    margin-bottom: 40px;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    font-size: 18px;
  }
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link.current {
  color: #2196F3;
}

.current {
  color: #2196F3;
}

.site-nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: -5.5px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-nav__link.current::after {
    bottom: -7.5px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link.current::after {
    bottom: -30px;
  }
}

.cont-nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .cont-nav {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .cont-nav {
    display: block;
  }
}

.cont-nav__list:last-child {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .cont-nav__list:last-child {
    margin-left: 0;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont-nav__list:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}

.cont-nav__item {
  padding: 32px 0px;
  color: #757575;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-nav__item:hover .cont-icon {
  fill: currentColor;
}

.cont-nav__item:hover, .cont-nav__item:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .cont-nav__item {
    font-size: 18px;
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .cont-nav__item {
    font-weight: 500;
  }
}

.cont-nav__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .cont-nav__icon {
    margin-right: 10px;
  }
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 30;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-left: 88px;
    align-self: center;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .menu-cross {
  display: none;
}

.menu-button.is-open .menu-cross {
  display: block;
}

.menu-button.is-open .menu-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.footer-form__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  /* identical to box height, or 30px */
  letter-spacing: 0.06em;
  padding: 0;
  background-color: #2196F3;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
}

.footer-form__button-icon {
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.hero__button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__button:hover,
.modal__button:focus .close-image {
  fill: #2196F3;
}

.close-image {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button {
  border-color: transparent;
  border-radius: 4px;
  background-color: #F5F4FA;
  padding: 6px 22px;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #fff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:focus ~ .modal__icon {
  fill: #2196F3;
}

.advantage__icon {
  width: 70px;
}

.clients__icon {
  /* width: 88px; */
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.team__networks-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 16px;
  padding: 0;
}

.team__network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__network-link:hover, .team__network-link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}

.team__network-link:hover .team__network-icon,
.team__network-link:focus .team__network-icon {
  fill: #fff;
}

.team__network-icon {
  width: 20px;
  height: 20px;
  fill: #C4C4C4;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* padding: 12px; */
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  min-height: 609px;
  background: #fff;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form {
  height: 342px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.modal__comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal__comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:focus {
  outline-color: #2196F3;
}

.modal__field {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  /* position: absolute; */
  left: 0;
  top: -18px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  user-select: none;
  color: #757575;
}

.modal__input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* transition: outline-color $transition; */
}

.modal__input:focus {
  outline-color: #2196F3;
}

.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.modal__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  color: #fff;
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox-label {
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
}

.modal__checkbox-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label::after {
    left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
  }
}

.modal__checkbox:checked + .modal__checkbox-label::after {
  background-color: #2196F3;
  background-image: url("../images/custom_check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.modal__accept {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

@media screen and (max-width: 1199px) {
  .modal__accept {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .modal__accept {
    padding-left: 37px;
  }
}

.link--policy {
  color: #2196F3;
}

.footer-form {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: start;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  margin-top: 20px;
  padding-left: 16px;
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

header {
  border-bottom: 2px solid #EEEEEE;
}

.page-header {
  position: relative;
  height: 80px;
  color: #000000;
  /* border-bottom-width: 3px;
    border-style: solid;
    border-color: var(--heading-color) */
}

.page-header.is-open {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 50;
}

.page-header-portfolio {
  color: #000000;
  border-bottom: 2px solid #EEEEEE;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/* .cont-nav .list:nth-child(1) {
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.cont-nav .list:nth-child(2) {
    background-image: url(../images/smartphone.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 20px;
} */
/* .links {
    text-decoration: none;
} */
/* .span { color: $black-color;} */
.hero {
  text-align: center;
  /* max-width: 1600px;
    margin-left: auto;
    margin-right: auto; */
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.advantage {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .advantage {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    width: 1170px;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantage__list {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .advantage__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__list {
    width: 354px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__list {
    width: 270px;
  }
}

.advantage__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.advantage__item {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 3px;
}

/* .icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */
/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */
/* .list {
    padding: 0;
    margin: 0;
} */
/* .advantage .list::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $icon-color;
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: right 100px bottom 25px;
}

.icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */
/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */
.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px;
}

.doing {
  display: block;
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.working {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .working {
    display: flex;
  }
}

.working__list {
  position: relative;
  list-style: none;
}

.working__list:not(:last-child) {
  margin-right: 30px;
}

.working__text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background: #F5F4FA;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}

.team__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team__list-piece {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  list-style: none;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .team__list-piece:not(:last-child) {
    margin-bottom: 30px;
  }
  .team__list-piece:nth-child(3) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .team__list-piece {
    width: 354px;
    margin: 0;
  }
}

@media screen and (max-width: 1199px) {
  .team__list-piece:nth-child(1) {
    margin-bottom: 30px;
  }
  .team__list-piece:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list-piece {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team__item {
  padding-top: 30px;
}

.team__member {
  color: #212121;
  margin: 0px 0px 10px;
  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.section.clients {
  padding-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  margin-bottom: 10px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__icon {
  fill: #2196F3;
}

.clients__item:focus .clients__icon {
  fill: #2196F3;
}

.clients__item:hover, .clients__item:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.port-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
}

@media screen and (min-width: 1200px) {
  .port-container {
    width: 1170px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .port-container:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.portfolio .item {
  margin-right: 8px;
  margin-top: 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio {
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    justify-content: center;
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.works__list {
  position: relative;
  width: 100%;
  margin: 15px;
  outline: 1px solid #EEEEEE;
  text-decoration: none;
  box-shadow: none;
}

.works__list .links {
  display: block;
}

.works__list .links:hover,
.works__list .links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__list .links:hover .works__overlay {
  transform: translateY(0%);
}

.works__list .links:focus .works__overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .works__list {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__list {
    width: 354px;
    margin: 0 0 30px 0;
  }
  .works__list:first-child {
    height: 404px;
  }
}

@media screen and (min-width: 1200px) {
  .works__list {
    width: calc((100% - 30px * 2) / 3);
    margin: 15px;
  }
  .works__list:nth-child(3n + 1) {
    margin-left: 0;
  }
  .works__list:nth-child(3n) {
    margin-right: 0;
  }
  .works__list:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

.works__img {
  position: relative;
  overflow: hidden;
}

.works__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__text {
  padding: 77px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #fff;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .works__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .works__text {
    padding: 63px 24px;
  }
}

.works__item {
  padding: 20px 24px;
}

.works__title {
  font-weight: 700;
  font-size: 18px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__title {
    line-height: 36px;
  }
}

.works__type {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  /* margin: 4px 0px 20px 24px; */
}

.footer {
  background: #2F303A;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer .container {
  display: flex;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    justify-content: space-around;
    align-items: flex-start;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-address {
  color: #fff;
  font-style: normal;
  margin-bottom: 9px;
  margin-top: 0;
}

.footer__contacts {
  margin-right: 70px;
}

.footer-join {
  color: #fff;
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-join {
    text-align: center;
  }
}

.footer-join__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.footer-join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__link:not(:last-child) {
  margin-right: 10px;
}

.footer-join__link:hover, .footer-join__link:focus {
  background-color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .footer-info {
    text-align: center;
  }
}

.footer__contacts {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:last-child {
  margin: 0;
}

.footer__contacts:hover, .footer__contacts:focus {
  color: #2196F3;
}
/*# sourceMappingURL=main.css.map */