.modal__form {
    width: 448px;
    height: 342px;
    margin-left: auto;
    margin-right: auto;
}

.modal__title {
    display: inline-block;
    width: 448px;
    padding-top: 25px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.modal__comment {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    &::placeholder {
        font-size: $common-text;
        line-height: 16px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline-color: $accent-color;
    }
}

.modal__field {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal__label {
    /* position: absolute; */
    left: 0;
    top: -18px;
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    user-select: none;
    color: $text-color;
}

.modal__input {
    position: relative;
    display: block;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* transition: outline-color $transition; */

    &:focus {
        outline-color: $accent-color;
    }
}

.modal__submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $accent-color;
    color: $primary-bg-color;

}

.modal__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.modal__checkbox-label {
    width: 423px;
    height: 24px;
    font-size: $common-text;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $text-color;
    user-select: none;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translateY(-50%);
        display: block;
        width: 16px;
        height: 15px;
        border: 2px solid $link-color;
        border-radius: 2px;   
    }
}

.modal__checkbox:checked + .modal__checkbox-label::after {
    background-color: $accent-color;
    background-image: url('../images/custom_check.svg');
    background-size: contain;
    background-origin: border-box ;
    border-color: transparent;
}

.modal__accept {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;  
}

.link--policy {
    color: $accent-color;
}


.footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: $primary-bg-color;
    margin-top: 20px;
    margin-right: 12px;
    padding-left: 16px;

    &::placeholder {
        font-size: $btn-text;
        line-height: 20px;
        /* identical to box height, or 125% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    }
}
