.body {
    font-family: $common-font;
    letter-spacing: 0.02em;
    background-color: $primary-bg-color;
    margin: 0;
}

body.modal-open {
    overflow: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    // width: 1200px;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: 480px) {
        width: $mobile;
    }

    @media screen and (min-width: 768px) {
        width: $tablet;
    }

    @media screen and (min-width: 1200px) {
        width: $desktop;   
    }


}

.hero__container {
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url("../images/hero-bcg.jpg");
    background-color: $footer-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.footer .container {
    
    @media screen and (min-width:768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}

// .footer__container {
//         // display: flex;
//         // flex-direction: column;
//         // justify-content: center;
//         margin-left: auto;
//         margin-right: auto;
//         // width: 1200px;
//         /* padding-right: 15px;
//         padding-left: 15px; */
    
//         @media screen and (min-width: 480px) {
//             width: 480px;
//         }
    
//         @media screen and (min-width: 768px) {
//             width: 768px;
//         }
//     }

.list 
{ list-style: none;
color: $text-color
 }

 .section {
    padding: 94px 0px;
    /* padding-right: 10px;
    padding-left: auto; */
    &.container {
        padding-bottom: 60px;
    }
}

 .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.links {
    text-decoration: none;
}


// p { margin: 0;}

// img { display: block;}

/* .inst {
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}
.twit {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.fb {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.linkedin {
    background-image: url(../images/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
} */