

.advantage { 
    // display: flex;
    margin: 0;
    padding: 0;}

.advantage__list {
    // width: 270px;
    // margin-left: 30px;
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;

    // &:first-child {
    //     margin-left: 0px;
    
}

.advantage__title { 
    color: $heading-color;
    font-weight: $bold;
    font-size: $common-text;
    line-height: 1.14;
    text-transform: uppercase; 
    text-align: center;
    }

.advantage__text { 
    color: $text-color;
    font-size: $common-text;
    line-height: 1.71;
}

.advantage__item {
    display: flex;
    justify-content: center;
    // width: 270px;
    height: 120px;
    background-color: $secondary-bg-color;
    margin-bottom: 30px;
    border-radius: 3px;
}



/* .icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */

/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */

/* .list {
    padding: 0;
    margin: 0;
} */

/* .advantage .list::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $icon-color;
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: right 100px bottom 25px;
}

.icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */

/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */
