$heading-color:#212121;
$text-color:#757575;
$accent-color:#2196F3;
$primary-bg-color: #fff;
$secondary-bg-color: #F5F4FA;
$black-color: #000000;
$footer-color: #2F303A;
$border-color: #EEEEEE;
$icon-color: #C4C4C4;
$network-color: #AFB1B8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$overlay-color: rgba(33, 150, 243, 0.9);
$link-color: #212121;
$normal: 400;
$medium: 500;
$bold: 700;
$black: 900;
$title-text: 36px;
$hero-text: 44px;
$common-text: 14px;
$logo-text: 26px;
$btn-text: 16px;
$common-font: 'Roboto';
$logo-font: 'Raleway';

