header {
    border-bottom: 2px solid $border-color;
}

.page-header {
    position: relative;
    // display: flex;
    
    color: $black-color;

    /* border-bottom-width: 3px;
    border-style: solid;
    border-color: var(--heading-color) */
}

.page-header-portfolio {
    // display: flex;
    color: $black-color;
    border-bottom: 2px solid $border-color;
}

// .page-header.portfolio {
//     color: $black-color;
//     border-bottom: 2px solid $border-color;
// }

.main-nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}







/* .cont-nav .list:nth-child(1) {
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.cont-nav .list:nth-child(2) {
    background-image: url(../images/smartphone.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 20px;
} */

/* .links {
    text-decoration: none;
} */
/* .span { color: $black-color;} */
